<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Hiring Management System - API Test Suite" parallel="classes" thread-count="3">

    <test name="Smoke Tests">
        <classes>
            <class name="com.testcases.smoke.SmokeTest"/>
        </classes>
    </test>

    <test name="API Tests - Auth">
        <classes>
            <class name="com.testcases.api.AuthApiTest"/>
        </classes>
    </test>

    <test name="API Tests - User">
        <classes>
            <class name="com.testcases.api.UserApiTest"/>
        </classes>
    </test>

    <test name="API Tests - Jobs">
        <classes>
            <class name="com.testcases.api.JobApiTest"/>
        </classes>
    </test>

    <test name="API Tests - Applications">
        <classes>
            <class name="com.testcases.api.ApplicationApiTest"/>
        </classes>
    </test>

    <test name="API Tests - Admin">
        <classes>
            <class name="com.testcases.api.AdminApiTest"/>
        </classes>
    </test>

    <test name="Regression Tests">
        <classes>
            <class name="com.testcases.regression.RegressionTest"/>
        </classes>
    </test>

</suite>

